<launch>

  <!-- Flir Lepton Node -->
  <node 
    type="flir_lepton_node" 
    name="flir_lepton"
    pkg="flir_lepton" 
    respawn="true" 
    output="screen" 
  />

  <!-- Load configuration parameters yaml -->
  <rosparam 
    file="$(find flir_lepton)/config/params.yaml"
    command="load" 
    ns="flir_lepton" 
  />

</launch>
