<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="ledstrip_controller" />

  <node
    type="ledstrip_controller.py"
    name="ledstrip_controller"
    pkg="ledstrip_controller"
    respawn="true"
    output="screen" >

    <rosparam
      file="$(find ledstrip_controller)/config/params.yaml"
      command="load"
    />

  </node>
    


</launch>
