<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="pi_camera"/>

  <!-- PIcamera node -->
  <node 
    type="pi_camera_node.py" 
    name="pi_camera"
    pkg="pi_camera" 
    respawn="true" 
    output="screen" >

    <rosparam
      file="$(find pi_camera)/config/params.yaml"
      command="load"
    />
  
  </node>


</launch>
